@font-face {
    font-family: 'Roboto';
    src:url('./media/roboto-regular-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --background-color: #E2E8F0;
    --blue: #1992D4;
    --yellow: #F0B429;
    --white: #FFFFFF;
    --black: #000000;
    --text-grey: #636363;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    height: 100vh;
}

.navbar {                                   /*Maybe change the menu items to flex? since it is more content related than layout related.*/
    background-color: var(--blue);
    display: grid;                          
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-columns: 1fr;
    gap: 3em;                               /*gap may be changed later on to align with header section*/
    z-index: 2;                             /*messy way for ensuring box-shadow of header. need a better way*/
    color: var(--white);
}

.navbar-title {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1em;
    padding-left: 1em;
}

.navbar-title img {
    max-height: 3em;
    fill: var(--white);
}

.trending {                               /*For visualization. To be removed later on*/
    background-color: beige;
}

.main-menu {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(2em, 1fr));     /*row width (minmax) may be changed later on to align with other sections*/
    padding-left: 1em;
    font-weight: bold;
}

.main-menu img,
.secondary-menu img {
    max-height: 2em;
}

.main-menu > div,
.secondary-menu > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 1em;
}

.secondary-menu {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(2em, 3em));     /*row width (minmax) may be changed later on to align with other sections*/
    padding-left: 1em;
    font-weight: bold;
}

.main-body {
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 5fr;           /*row spans may be changed later to align with other sections*/
}

.header {
    grid-column: 1 / -1;  /*Spanning all columns*/
    grid-row: 1 / 2;      /*Spanning the whole row*/
    background-color: var(--white);
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 1em 2em;
    box-shadow: 0px 0px 5px 2px lightgray;               /*does this color need a custom variable creation??*/
    z-index: 1;                 /*messy way for ensuring box-shadow of header. need a better way*/
}

.search-menu {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-flow: row;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 1em;
}

.search-input {
    width: 40vw;
    height: 2em;
    border-radius: 100px;
    border: none;
    background-color: var(--background-color);
    text-indent: 1em;
    font-family: inherit;
}

.search-input:focus,
.search-input:active {
    border: none;
    outline: 2px solid var(--text-grey);
}

.search-bar img,
.header-user-profile img {
    max-height: 1.5em;
}

.header-user-profile {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: right;
    align-items: center;
    font-weight: bold;
}

.header-user-image {
    background-color: var(--yellow);
    border-radius: 100px;
    width: 4.5em;
    height: 4.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-user-image img {
    max-height: 3em;
}


.profile-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 1em;
}

.profile-photo {
    background-color: var(--yellow);
    border-radius: 100px;
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-photo img {
    max-height: 2em;
}

.header-menu {
    display: flex;
    gap: 3em;
    justify-content: right;
}

.header-menu-item {
    width: 7em;
    height: 2.5em;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.projects {
    grid-column: 1 / 2; /*Spanning the 1st column*/
    grid-row: 2 / -1;  /*Spanning from 2nd row to end of rows*/
    background-color: var(--background-color);
    padding: 1em;
}

.projects > h2 {
    padding-bottom: 1em;
}

.projects-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.project-card {
    background-color: var(--white);
    border-radius: 8px;
    border-left: 8px solid var(--yellow);
    padding: 1em;                               /*Need to change this to remove scroll*/
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.project-card-icons {
    display: flex;
    justify-content: right;
    gap: 1em;
    padding-right: 1em;
}

.project-card-icons img {
    height: 1.5em;
}

.sidebar {
    grid-column: 2 / -1; /*Spanning 2nd column*/
    grid-row: 2/ -1; /*Spanning same as .projects*/
    background-color: var(--background-color);
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.announcements h2 {
    padding-left: 1em;
    padding-top: 1em;
    font-size: 1.2em;
}

.announcements h3 {
    font-size: 0.9em;
}


.announcements-card {
    background-color: var(--white);
    margin: 1em;
    border-radius: 5px;
    padding: 2em;
    display: grid;
    box-shadow: 0px 0px 5px 2px lightgray;  
}

.announcements-card-section {
    padding-bottom: 1em;
    padding: 1em 0;
    position: relative;  /*For the pseudo horizontal line anchoring*/
}

/*The horizontal line below each announcement-card-section*/
.announcements-card-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(99, 99, 99, 0.4);
}

.announcements-card-section:first-child {
    padding-top: 0;         /*To remove the extra top padding*/
}

.announcements-card-section:last-child {
    padding-bottom: 0;      /*To remove the extra bottom padding*/
}

.announcements-card-section:last-child::after {
    display: none; /* Hides the 3rd line */
}

.announcements-card-section p {
    font-size: 0.7em;
    color: var(--text-grey);
    line-height: 1.3;
   
    /* Multi-line ellipsis properties taken from Gemini*/
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.trending-card {
    background-color: green;            /*For visualization. To be removed later on*/
     margin: 1em;
    border-radius: 5px;
    height: 30vh;               /*Will be changed based on alignment with other sections*/
    padding: 1em;
    display: grid;
    gap: 0.5em;
    display: grid;
}

.profile {
    background-color: aquamarine;       /*For visualization. To be removed later on*/
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-image {
    padding-right: 1em;
}




